
        #green001 {
            color: green;
        }

        #orange001 {
            color: orange;
        }

         #quiz001 {
            color: steelblue;
        }

        #font001 {
            color: black;
            font-size: 24px;
            cursor: context-menu;
        }
