body{
  font-family:Helvetica,Arial;
  font-size:16px;
  padding:20px;
}

h1 {
  text-align: center;
  font-size: 28px;
}

.menu {
  float: left;
  line-height: 50px;
  margin: 0 4em;
}

/* Code to hover - Sen */
.menu a:hover {
  background-color: #FFFFFF;
  /* border-bottom: 3px solid black; */

}

.menu ul {
  list-style: none;
}

.menu ul li {
  display: inline-block;
}

.menu ul li a {
  text-decoration: none;
  color: black;
  font-size: 19px;
  font-weight: lighter;
  padding: 0 20px;

}

#map-wrapper{
  /* background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/9/99/Map_of_USA_without_state_names.svg/2000px-Map_of_USA_without_state_names.svg.png') no-repeat, center, center; */
  background: url('images/solarsys.jpg') no-repeat, center;
  background-size:contain;
  width:1238px;
  height:750px;
  margin-top:0px;
  position:relative;
}
.picture{
  background:#fff;
  display:block;
  float:left;
  padding:.5%;
  /* border:2px solid #000; */
  border:3px solid green;
  max-width:6%;
  position:absolute;
  /* transition: all .2s ease-in-out; */
  transition: width 1s, height 1s, transform 1s;
  cursor:pointer;
}
.picture:hover{
  transform: rotate(0) scale(3.0);  
  z-index: 5;
}
.picture img{
  display:block;
  max-width:100%;
  background:#ddd;
}
.picture .caption{
  text-align:center;
  padding:3px 0;
  font-size: 6px;
  color: green;

}
/* Mercury */
.picture-1{
  left:9%;
  top:36%;
  transform: rotate(17deg);
}

/* .picture-2{
  left:85%;
  top:45%;
  /* z-index: 5; */
  /* transform: rotate(15deg);
} */

/* Uranus */
.picture-3{
  left:68%;
  top:7%;
  transform: rotate(15deg);
}
/* Sun */
.picture-4{
  left:5%;
  top:60%;
  transform: rotate(-20deg);
}
/* Venus */
.picture-5{
  left:13%;
  top:50%;
  transform: rotate(-27deg);
}
/* Jupiter */
.picture-6{
  left:39%;
  top:18%;
  transform: rotate(-20deg);
}
/* Mars */
.picture-7{
  left:25%;
  top:45%;
  transform: rotate(-10deg);
}
/* Neptune */
.picture-8{
  left:82%;
  top:27%;
  /* z-index: 5; */
  transform: rotate(19deg);
}
/* Saturn */
.picture-9{
  left:60%;
  top:39%;
  transform: rotate(5deg);
}
/* Earth */
.picture-10{
  left:18%;
  top:29%;
  transform: rotate(35deg);
}
